/* see: https://github.com/atomiks/rehype-pretty-code/blob/master/website/src/app/globals.css */
/* see: https://github.com/atomiks/rehype-pretty-code/blob/master/website/tailwind.config.js */

@layer components {
  /* all inline code (not code blocks) */
  p > code,
  li > code,
  span[data-rehype-pretty-code-fragment] {
    @apply text-[0.87em];

    /* light mode */
    @apply rounded py-[0.2em] px-1 bg-zinc-900;

    /* dark mode */
    @apply dark:rounded-none dark:p-0 dark:bg-transparent;
  }

  /* inline code without a language annotation (e.g. `true` instead of `true{:js}` */
  p > code,
  li > code {
    color: #c8d3f5;
  }

  /* all code blocks */
  pre {
    @apply mt-6 rounded overflow-x-scroll py-3 px-4 text-[0.85em];

    /* light mode */
    @apply bg-zinc-900;

    /* dark mode */
    @apply dark:bg-zinc-400/5;
  }

  /* paragraphs that follow a code block should have a bit more margin above them */
  pre + p,
  div[data-rehype-pretty-code-fragment] + p {
    @apply mt-6;
  }

  /* TODO: test the following styles in light mode */
  [data-line] {
    @apply border-l-2 border-l-transparent;
  }

  [data-highlighted-line] {
    background-color: rgba(200, 200, 255, 0.1);
    @apply border-l-blue-400;
  }

  [data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
  }

  [data-chars-id] {
    @apply shadow-none p-1 border-b-2;
  }

  [data-chars-id] span {
    @apply !text-inherit;
  }

  [data-chars-id='v'] {
    @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
  }

  [data-chars-id='s'] {
    @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
  }

  [data-chars-id='i'] {
    @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
  }
}
