@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/syntax-highlighting';

@layer base {
  :root {
    /* theme */
    --moonlight-red: #ff98a4;

    /* links */
    --link-text-color: var(--moonlight-red);
    --link-decoration-color: var(--moonlight-red);

    /* dark mode adjustments */
    @media (prefers-color-scheme: dark) {
      --link-text-color: var(--moonlight-red);
      --link-decoration-color: #ff98a4aa;
    }
  }
}

@layer base {
  html {
    background-color: var(--moonlight-red);
  }

  body {
    @apply flex flex-col overflow-x-hidden bg-zinc-50 dark:bg-zinc-900 py-7 px-4 sm:px-6 min-h-screen text-[1.1rem] leading-relaxed text-zinc-800 dark:text-zinc-300;
  }
}

@layer components {
  .heading {
    @apply break-after-avoid leading-tight font-semibold text-zinc-950 dark:text-zinc-50;
  }

  .link {
    @apply box-decoration-clone underline underline-offset-[0.2em] decoration-[0.18em] dark:decoration-[0.1em] decoration-[--link-decoration-color]  text-zinc-950 dark:text-[--link-text-color];
    text-decoration-skip-ink: none;
    text-decoration-style: dotted;

    &:hover,
    &:focus,
    &:active {
      @apply shadow-glow outline-none rounded-[0.75px] bg-[--link-text-color] text-zinc-950;
    }

    /* group-focus is for instances where I've styled a span inside a flex-child anchor (to avoid full-width stretch) */
    @apply group-focus:shadow-glow group-focus:outline-none group-focus:bg-[--link-text-color] group-focus:text-zinc-950;
  }

  .link-nav {
    @apply link underline-offset-[0.2em] dark:decoration-[0.15em] decoration-transparent dark:text-zinc-300;
    text-decoration-style: solid;
  }

  .link-subtle {
    @apply link underline-offset-2 decoration-auto;
  }

  .list {
    @apply mt-4 ps-7;
  }

  .list-notes {
    @apply columns-2xs lowercase;

    /* fixes list items jumping down on hover in Safari when their box-shadow changes */
    /* see: https://stackoverflow.com/a/73268790/8802485 */
    & * {
      @apply will-change-opacity;
    }
  }

  .list-item {
    @apply mt-1 leading-normal;
  }

  .timestamp {
    @apply text-sm uppercase;
  }

  .markdown {
    & h1 {
      @apply heading mb-8 text-4xl leading-[1.1] font-bold;
    }
    & h2 {
      @apply heading mt-8 text-[1.55rem];
    }
    & h3 {
      @apply heading mt-8 text-2xl;
    }
    & h4 {
      @apply heading mt-6 text-xl;
    }
    & h5 {
      @apply heading mt-4 text-lg;
    }
    & h6 {
      @apply heading mt-4 text-base;
    }

    & p {
      @apply mt-4;

      & + ul,
      & + ol {
        @apply mt-3;
      }
    }

    & a {
      @apply link;
    }

    & ul {
      @apply list list-disc marker:text-[--moonlight-red];
    }

    & ol {
      @apply list list-decimal;
    }

    & li {
      @apply mt-1;

      & > ul,
      & > ol {
        @apply mt-0;
      }
    }

    img {
      @apply mt-6 rounded-sm bg-zinc-800;

      /* paragraphs that follow an image should have a bit more margin above them */
      & + p {
        @apply mt-6;
      }
    }

    figure {
      & figcaption {
        @apply mt-1 text-center text-[0.9rem] text-zinc-400;
      }

      /* paragraphs that follow a figure should have a bit more margin above them */
      & + p {
        @apply mt-6;
      }
    }

    & strong,
    & em {
      @apply text-zinc-950 dark:text-zinc-50;
    }

    & blockquote {
      @apply ms-4 border-l-4 border-[--moonlight-red] pl-3 italic text-zinc-50;
    }

    /* e.g. YouTube and Twitter embeds */
    & iframe {
      @apply my-5 w-full h-auto aspect-video rounded-sm;
    }
  }
}

@layer components {
  .giscus {
    @apply mt-16;
  }
}
