@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/syntax-highlighting';

@layer base {
  :root {
    --moonlight-red: #ff98a4;
    --moonlight-red-translucent: #ff98a485;
  }
}

@layer base {
  html {
    background-color: var(--moonlight-red);
  }

  body {
    @apply flex flex-col overflow-x-hidden py-7 px-4 sm:px-6 min-h-screen text-[1.1rem] leading-relaxed;

    /* light mode */
    @apply bg-white text-zinc-700;

    /* dark mode */
    @apply dark:bg-zinc-900 dark:text-zinc-400;
  }
}

@layer utilities {
  .text-bright {
    /* light mode */
    @apply text-black;

    /* dark mode */
    @apply dark:text-white;
  }
}

@layer components {
  .heading {
    @apply text-bright break-after-avoid leading-tight font-semibold;
  }
}

@layer components {
  .link {
    @apply box-decoration-clone underline;

    /* light mode */
    @apply underline-offset-[0.16em] decoration-[0.18em] decoration-[--moonlight-red] text-black;

    /* dark mode */
    @apply dark:underline-offset-[0.2em] dark:decoration-[0.1em] dark:decoration-[--moonlight-red-translucent] dark:text-[--moonlight-red];

    text-decoration-skip-ink: none;

    &:hover,
    &:focus,
    &:active {
      @apply shadow-glow outline-none rounded-[0.75px] bg-[--moonlight-red] text-black;
    }

    /* group-focus is for instances where I've styled a span inside a flex-child anchor (to avoid full-width stretch) */
    @apply group-focus:shadow-glow group-focus:outline-none group-focus:bg-[--moonlight-red] group-focus:text-black;
  }

  .link-nav {
    @apply link underline-offset-[0.2em];

    /* light & dark mode */
    @apply decoration-transparent;

    /* light mode */
    @apply text-zinc-900;

    /* dark mode */
    @apply dark:decoration-solid dark:decoration-[0.15em] dark:text-zinc-300;

    /* the active menu item (set in Header.astro) */
    &[aria-current='page'] {
      /* light mode */
      @apply decoration-[--moonlight-red] text-black;

      /* dark mode */
      @apply dark:text-white;

      &:hover,
      &:focus,
      &:active {
        @apply dark:text-black;
      }
    }
  }
}

@layer components {
  .list {
    @apply mt-4 ps-7;
  }

  .list-notes {
    @apply columns-2xs lowercase;

    /* fixes list items jumping down on hover in Safari when their box-shadow changes */
    /* see: https://stackoverflow.com/a/73268790/8802485 */
    & * {
      @apply will-change-opacity;
    }
  }

  .list-item {
    @apply mt-1 leading-normal;
  }
}

@layer components {
  .image {
    @apply mt-6 rounded;

    /* light mode */
    @apply bg-zinc-200;

    /* dark mode */
    @apply dark:bg-zinc-800;
  }
}

@layer components {
  .caption {
    @apply mt-1 text-center text-[0.9rem];

    /* light & dark modes */
    @apply text-zinc-500;
  }
}

@layer components {
  .timestamp {
    @apply text-sm uppercase;
  }
}

@layer components {
  .markdown {
    & h1 {
      @apply heading mb-8 text-4xl leading-[1.1] font-bold;
    }
    & h2 {
      @apply heading mt-8 text-[1.55rem];
    }
    & h3 {
      @apply heading mt-8 text-2xl;
    }
    & h4 {
      @apply heading mt-6 text-xl;
    }
    & h5 {
      @apply heading mt-4 text-lg;
    }
    & h6 {
      @apply heading mt-4 text-base;
    }

    & p {
      @apply mt-4;

      & + ul,
      & + ol {
        @apply mt-3;
      }
    }

    & a {
      @apply link font-medium;
    }

    & ul {
      @apply list list-disc;

      /* light & dark mode */
      @apply marker:text-[--moonlight-red];
    }

    & ol {
      @apply list list-decimal;
    }

    & li {
      @apply mt-1;

      & > ul,
      & > ol {
        @apply mt-0;
      }
    }

    img {
      @apply image;

      /* paragraphs that follow an image should have a bit more margin above them */
      & + p {
        @apply mt-6;
      }
    }

    figure {
      & figcaption {
        @apply caption;
      }

      /* paragraphs that follow a figure should have a bit more margin above them */
      & + p {
        @apply mt-6;
      }
    }

    & strong,
    & em {
      /* light mode */
      @apply text-black;

      /* dark mode */
      @apply dark:text-white;
    }

    & blockquote {
      @apply ms-4 border-l-4 border-[--moonlight-red] pl-3 italic;

      /* light mode */
      @apply text-black;

      /* dark mode */
      @apply dark:text-white;
    }

    /* e.g. YouTube and Twitter embeds */
    & iframe {
      @apply my-5 w-full h-auto aspect-video rounded;
    }
  }
}

@layer components {
  .giscus {
    @apply mt-16;
  }
}

@layer utilities {
  /* For Blink- and WebKit-based browsers (e.g., Chrome, Edge, Opera, Safari, all browsers on iOS, and others). */
  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
