---
import Main from '../layouts/Main.astro'
import { Content } from '../content/pages/about.md'
---

<Main title="About" description="About me">
  <main class="markdown mx-auto max-w-2xl">
    <Content />
  </main>

  <!-- TODO: add images here? -->
  <aside></aside>
</Main>
