---
import Main from '../layouts/Main.astro'
import { Content } from '../content/pages/about.md'
---

<Main title="About" description="About me">
  <main class="markdown mx-auto max-w-2xl">
    <!-- TODO: show images to the right of my bio on desktop (below on mobile) -->
    <Content />
  </main>

  <!-- TODO: redesign timeline as a kanban board -->
</Main>
