---
import nav, { type NavItem } from '../data/nav'
import site from '../data/site'
import { isPathnameInCollection } from '../utils/collections'
import { getPosts } from '../utils/posts'
import { getNotes } from '../utils/notes'

const posts = await getPosts()
const notes = await getNotes()

const { pathname } = Astro.url

// see: https://docs.astro.build/en/reference/api-reference/#astrourl
const isCurrentPage = (item: NavItem): boolean =>
  item.url === pathname ||
  (isPathnameInCollection(pathname, posts) && item.url === '/') ||
  (isPathnameInCollection(pathname, notes) && item.url === '/notes/')

const getClasses = (item: NavItem): string =>
  isCurrentPage(item) ? 'link-nav decoration-[--moonlight-red] dark:text-zinc-50' : 'link-nav'
---

<header class="mb-12">
  <a href="#skip" class="sr-only">Skip to main content</a>

  <nav>
    <h2 class="sr-only">Top level navigation menu</h2>

    <ul class="flex flex-wrap">
      <li class="pb-1 w-full text-lg font-semibold text-zinc-950 dark:text-zinc-50">
        <a href="/">{site.title}</a>
        <span>👋</span>
      </li>

      {
        nav.top.map(item => (
          <li class="me-3 text-lg lowercase">
            <a href={item.url} aria-current={isCurrentPage(item) ? 'page' : false} class={getClasses(item)}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
