---
import type { Bookmark, Draft, Note, Post, TIL } from '../utils/collections'
import { isPost } from '../utils/posts'
import PaginationLink from './PaginationLink.astro'

type Props = {
  prev: Post | TIL | Draft | Note | Bookmark | null
  next: Post | TIL | Draft | Note | Bookmark | null
}

const { prev, next } = Astro.props

const showPrevLink = prev && (isPost(prev) || prev.collection === 'tils')
const showNextLink = next && (isPost(next) || next.collection === 'tils')
---

<nav class="mt-20 flex flex-col gap-5 md:flex-row">
  {showPrevLink ? <PaginationLink entry={prev} direction="Previous" /> : <div class="basis-1/2" />}
  {showNextLink ? <PaginationLink entry={next} direction="Next" /> : <div class="basis-1/2" />}
</nav>
