---
import { isBookmark } from '../utils/bookmarks'
import type { Bookmark, Draft, Note, Post, SinglePage } from '../utils/collections'
import { isDraft } from '../utils/drafts'
import { isNote } from '../utils/notes'
import { isPost, isPublished, isScheduled } from '../utils/posts'
import PaginationLink from './PaginationLink.astro'

type Props = {
  entry: Post | Draft | Note | Bookmark | SinglePage | null
  prev: Post | Draft | Note | Bookmark | null
  next: Post | Draft | Note | Bookmark | null
}

const { entry, prev, next } = Astro.props

/**
 * Ensure pagination links guide users through pages that go together (i.e. published posts vs. rough notes) and
 * don't jump to a different content category.
 */
const isIndexedOnSamePageAsEntry = (other: Post | Draft | Note | Bookmark | SinglePage | null): boolean => {
  // Skip the check if either entry or other is null
  if (!entry || !other) return true

  const isIndexedOnHomePage = (item: Post | Draft | Note | Bookmark | SinglePage): boolean =>
    isPost(item) && isPublished(item)

  const isIndexedOnNotesPage = (item: Post | Draft | Note | Bookmark | SinglePage): boolean =>
    (isPost(item) && isScheduled(item)) || isDraft(item) || isNote(item) || isBookmark(item)

  return (
    (isIndexedOnHomePage(other) && isIndexedOnHomePage(entry)) ||
    (isIndexedOnNotesPage(other) && isIndexedOnNotesPage(entry))
  )
}

const showPrevLink = prev && isIndexedOnSamePageAsEntry(prev)
const showNextLink = next && isIndexedOnSamePageAsEntry(next)
---

<nav class="mt-20 flex flex-col gap-5 md:flex-row">
  {showPrevLink ? <PaginationLink entry={prev} direction="Previous" /> : <div class="basis-1/2" />}
  {showNextLink ? <PaginationLink entry={next} direction="Next" /> : <div class="basis-1/2" />}
</nav>
