<aside role="note" class="my-10 border border-[--moonlight-red] rounded w-fit m-auto">
  <p class="!m-0 py-2 px-3 text-center italic text-bright">
    Want to be notified when new posts are published? <a href="/rss.xml" class="link mx-[0.15rem]"
      >Subscribe to my RSS feed</a
    >.
  </p>
</aside>
