---
const { tag } = Astro.props

/* <li class="rounded border-[1px] border-[--moonlight-red] hover:bg-[--moonlight-red] px-2 leading-relaxed text-[--moonlight-red] hover:text-zinc-950"> */
---

<p class="rounded border-[1px] border-[--moonlight-red] px-2 leading-relaxed text-[--moonlight-red]">
  {tag}
</p>
