---
import '../styles/global.css'
import site from '../data/site'

type Props = {
  description: string
  title: string
}

const { description, title } = Astro.props
---

<!DOCTYPE html>
<html lang={site.language} class="bg-rose-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body
    class="flex flex-col overflow-x-hidden bg-neutral-50 dark:bg-neutral-900 py-7 px-4 sm:px-6 min-h-screen text-[1.1rem] leading-relaxed text-neutral-800 dark:text-neutral-300"
  >
    <slot />
  </body>
</html>

<style is:global></style>
